* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: hsl(216, 12%, 8%);
    position: relative;
    font-family: 'Overpass', sans-serif;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    background: rgb(37,45,55);
    background: linear-gradient(180deg, rgba(37,45,55,0.788410432532388) 59%, rgba(37,45,55,0.5587185557816876) 71%);
    color: white;
    display: block;
    height: auto;
    width: 75vw;
    min-height: 50vh;
    padding: 2rem;
    border-radius: 10px;
}

#hidden-container {
    display: none;
    background: rgb(37,45,55);
    background: linear-gradient(180deg, rgba(37,45,55,0.788410432532388) 59%, rgba(37,45,55,0.5587185557816876) 71%);
    color: white;
    height: auto;
    width: 75vw;
    min-height: 50vh;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
}

.star-icon {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    padding: 0.8em;
}

.text-area {
    padding-top: 1em;
    text-align: justify;
}

.text-area p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    letter-spacing: 1px;
}

#ratings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;

}

.ratings-element {
    border-radius: 90px;
    background-color: hsl(213, 19%, 18%);
    cursor: pointer;
    display: flex; /* or inline-flex */
    font-size: 14px;
    align-items: center; /*center numbers*/
    justify-content: center; /*center numbers*/
    height: 5.5vh;
    width: 5.5vh;
    margin: 0.6rem;
    padding: 1.2rem;
    opacity: 1;
    transition: 1s all;

}

.ratings-element:hover {
    background-color: hsl(217, 12%, 63%);
    opacity: 1;
}

.ratings-element.active {
    background-color: hsl(25, 97%, 53%);
    opacity: 1;
}

#submit {
    background-color: hsl(25, 97%, 53%);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 1rem;
    width: 100%;
    transition: 1s all;
}

#submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.info {
    background-color:hsl(216, 12%, 54%);
    color:hsl(25, 97%, 53%);
    text-align: center;
}

/*MEDIA QUERY*/
@media only screen and (min-width: 800px) {
    #container {
        height: auto;
        width: 25vw;
    }

    #hidden-container {
        height: auto;
        width: 25vw;
  }
}